jupyterlab==3.1.14
seaborn==0.11.2
scikit-learn==1.0
statsmodels==0.13.2
protobuf==3.20.1
cap-from-youtube==0.0.9
deepface==0.0.79
fer==22.5.0
h5py==3.8.0
idna==3.4
imageio==2.26.0
keras==2.11.0
matplotlib==3.7.1
moviepy==1.0.3
numpy==1.24.2
opencv-contrib-python==4.7.0.72
pandas==1.5.3
Pillow==9.4.0
protobuf==3.19.6
tensorflow-hub==0.12.0
tensorflow-macos==2.11.0
tensorflow-metal==0.7.1
tqdm==4.65.0
yt-dlp==2023.3.4
